<div class="col-10 col-md-8 col-lg-6 mx-auto shadow rounded p-5 mt-3">
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">عنوان</label>
      <input type="text" class="form-control" name="title" formControlName="title">
      <span 
      *ngIf="itemForm.get('title')?.touched && !itemForm.get('title')?.valid"
      class="text-danger form-text">
          <span *ngIf="itemForm.get('title')?.errors!['minlength']"
          >نام حداقل باید {{itemForm.get('title')?.errors!['minlength'].requiredLength}} حرف باشد!</span>
          <span *ngIf="itemForm.get('title')?.errors!['maxlength']"
          >نام حداکثر باید {{itemForm.get('title')?.errors!['maxlength'].requiredLength}} حرف باشد!</span>
          <span *ngIf="itemForm.get('title')?.errors!['pattern']">a-zA-Z0-9-</span>
          <span *ngIf="itemForm.get('title')?.errors!['required']">این فیلد نمیتواند خالی باشد!</span>
      </span>
      <span class="text-danger form-text" *ngIf="errors && errors.title && itemForm.get('title')?.valid">{{ errors.title[0] }}</span>
    </div>
    <div class="mb-3">
      <label class="form-label">اسلاگ</label>
      <input type="text" class="form-control d-l" name="slug" formControlName="slug">
      <span 
      *ngIf="itemForm.get('slug')?.touched && !itemForm.get('slug')?.valid"
      class="text-danger form-text">
          <span *ngIf="itemForm.get('slug')?.errors!['minlength']"
          >نام حداقل باید {{itemForm.get('slug')?.errors!['minlength'].requiredLength}} حرف باشد!</span>
          <span *ngIf="itemForm.get('slug')?.errors!['maxlength']"
          >نام حداکثر باید {{itemForm.get('slug')?.errors!['maxlength'].requiredLength}} حرف باشد!</span>
          <span *ngIf="itemForm.get('slug')?.errors!['pattern']">a-zA-Z0-9-</span>
          <span *ngIf="itemForm.get('slug')?.errors!['required']">این فیلد نمیتواند خالی باشد!</span>
      </span>
      <span class="text-danger form-text" *ngIf="errors && errors.slug && itemForm.get('slug')?.valid">{{ errors.slug[0] }}</span>
    </div>
    <div class="mb-3">
      <label class="form-label">قیمت</label>
      <input type="number" class="form-control d-l" name="price" formControlName="price">
      <span class="text-danger form-text" *ngIf="errors && errors.price && itemForm.get('price')?.valid">{{ errors.price[0] }}</span>
    </div>
    <div class="mb-3">
      <label class="form-label">عکس</label>
      <input type="file" accept="image/*" (change)="selectFile($event)" class="form-control d-l" name="image" formControlName="image">
      <span 
      *ngIf="itemForm.get('image')?.touched"
      class="text-danger form-text">
        <span>{{imageError}}</span>
      </span>
      <span 
      *ngIf="itemForm.get('image')?.touched && !itemForm.get('image')?.valid"
      class="text-danger form-text">
        <span *ngIf="itemForm.get('image')?.errors!['required']">این فیلد نمیتواند خالی باشد!</span>
      </span>
      <br>
      <span class="text-danger form-text" *ngIf="errors && errors.image && itemForm.get('image')?.valid">{{ errors.image[0] }}</span>
    </div>
    <div class="mb-3">
      <img [src]="preview" class="preview" alt="">
    </div>
    <div class="mb-3">
      <label class="form-label">تعداد</label>
      <select formControlName="count" class="form-control d-l">
          <option value="{{count}}" *ngFor="let count of counts; let i = index;">{{ count }}</option>
      </select>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" formControlName="status">
      <label class="form-check-label">موجود</label>
    </div>
    <button type="submit" class="btn btn-primary px-5" [disabled]="!itemForm.valid" *ngIf="!btnLoading">ثبت</button>
    <button type="submit" class="btn btn-primary px-5" disabled *ngIf="btnLoading">
      <span class="spinner-border spinner-border-sm"></span>
    </button>
  </form>
</div>